
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&display=swap');

body {
    position: relative;
    margin: 0;
    font-family: 'Alumni Sans Pinstripe', sans-serif;
  }
  .sect {
    width: 100%;
    min-height: 500px;
  }
  #sect1{
    color: #fff;
    text-align: center;
    margin-top: 0%;
  }

  #sect2 {
    color: rgb(173, 178, 182);
    color: #fff;
    text-align: center;
  }

  #sect3 {
    text-align: center;
    margin-top: 0%;
    color: white;
  }
  
  video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 105%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -2;
  }

  header{
    background-color: r#3e0034ed;;
    opacity:0.8 ;
    padding-bottom: 20px;
    padding-top: 0%;
    border-radius: 100px;
    border: 5px;
    color: r#3e0034ed;
    border-color: red;
    background-repeat: round space;
    color: white;
  }

  h1{
    text-align: center;
    padding-top: 50px;
    font-size: 500%;
  }

  h1 :hover{
    color:black;
  }

  h3{
    color: white;
    text-align: center;
  }

a{
    text-decoration: none;
}

#menu th{
    border: 5px solid #3e0034;
    border-style: double;
    border-radius: 10px;
    padding: 15px;
    background-color: black;
    border-color:#f80000;
    font-size: large;
    display: inline-block;

    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

#menu th:hover{
    background-color: white;
}

th{
    color: white;
}

#menu :hover{
color: #3e0034;
}

#contacto{
 align-items: center;/*ver como alinear al centro*/
}

#carouselExampleControls{
max-width: 800px;
max-height: 800px;
margin-left: 430px;
opacity: 0.9;
margin-bottom: 5%;

}

.list-group{
max-width: 800px;
max-height: 800px;
margin-left:0px;
opacity: 0.9;
padding-right: 0%;
height: 150px;
width: 200px;
}

#sect1{
  margin-top: 0%;
}